<html>
<head>
<title>::ADD:</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<form action="{{url_for('addData')}}" method="POST">
	 
	<div class="form-group">
		<label for="name">ID:</label>
		<input type="TEXT" class="form-control" id="id"
		placeholder=" ENTER YOUR id " name="id">
    </div>		
    <div class="form-group">
    <label for="name">NAME:</label>
    <input type="TEXT" class="form-control" id="name"
	placeholder=" ENTER YOUR NAME " name="name">
    </div>
	<div class="form-group">
    <label for="email">EMAIL:</label>
    <input type="email" class="form-control" id="email"
	placeholder="ENTER EMAIL" name="email">
    </div>
    <div class="form-group form-check">
    <label for="des">DES:</label>
    <input type="text" class="form-control" id="des"
	placeholder="ENTER YOUR Desgination" name="des">
    </label>
    </div>
	
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</body>
</html>