<html>
<head>
<title>::SHOW DATA:</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div> 
		{%with message=get_flashed_messages()%}
		{%if messages%}
		{%for messages in messages%}
		<h3>messages</h3>
		{%endfor%}
		{%endif%}
		{%endwith%}
	</div>
<div> 	{%if current_user.is_authenticated:%}
		<button><a href="{{url_for('index')}}">Go to Indexpage</a></button>
		{%else%}
		
	<table class = "container">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">NAME</th>
			<th scope="col">EMAIL</th>
			<th scope="col">Desgination</th>
			<th scope="col" colspan=2>ACTIONS</th>
		
		</tr>
	</thead>
		{%for i in reg%}
		<tr>
			<td>{{i.id}}</td>
			<td>{{i.name}}</td>
            <td>{{i.email}}</td>
	        <td>{{i.des}}</td>
			<td><a href="{{url_for('editData',register_id=i.id)}}">edit</a></td>
			<td><a href="{{url_for('deleteData',register_id=i.id)}}">delete</a></td>
	    </tr>
	    {%endfor%}
	</table>
<button><a href="{{url_for('addData')}}">addData</a></button>
		{%endif%}
</body>
</html>